@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*::selection {
  background-color: #b2c9cd;
  color: #406368;
}


.topNav a{
  display: block;
}

/* active links style of the top navigation in header */
.topNav .active-link{
  color: #043a40;
  border-bottom: 1px solid #04565f;
}

/* active links style in the sidebar */
.sidebar-menu li:has(.active-side-link) {
  background-color: #ccd8da;
  color: #296561;
}


/* Utility classto hide elements on mobile screen sizes */
@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
}

/* Utility classto hide elements on bigger screen sizes */
@media screen and (min-width: 769px) {
  .hide-large {
    display: none;
  }
}
